.page-loading-full {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.loading-spinner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.loading-spinner-container p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #555;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0984e3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}